body {
    width: 100%;
    margin: 0;
    padding: 0 10%;
    background: silver;
}

.header-wrapper {
    display: flex;
    box-sizing: border-box;
    flex-flow: row nowrap;
}

.random-image {
    display: flex;
    box-sizing: border-box;
    background: lightslategray;
    width: 30%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-flow: column;
}

.random-image img {
    width: 50px;
    border-radius: 20px;
}

.random-image button {
    background: lightgray;
    color: black;
    font-size: large;
    border-radius: 10px;
    line-height: 150%;
}

.search-bar {
    display: flex;
    box-sizing: border-box;
    background: lightslategray;
    width: 70%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-bar input {
    background: white;
    width: 100%;
    border-radius: 10px;
    font-size: large;
    text-indent: 10px;
}

.breeds-list {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    background: lightslategray;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.breeds-list button {
    background: lightgray;
    color: black;
    font-size: large;
    border-radius: 10px;
    line-height: 150%;
}

.image-list {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    background: lightslategray;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1.2%;
    overflow-y: scroll;
}

.image-list img {
    width: 19%;
}